﻿<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="./main.css"></require>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="vcenter">
                    <img src="assets/sanctuary-big.jpg" />
                    <h1>Strongman Sanctuary</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Standing after 45 events</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr repeat.for="ranking of rankings">
                        <td>${ranking.name}</td>
                        <td>${ranking.points}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
