<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="btn-group-vertical" role="group">
                <button *ngFor="let ev of events" class="btn btn-default" style="white-space: normal" [class.btn-primary]="ev.id === selectedEventKey"
                        [class.btn-default]="ev !== selectedEventKey" (click)="eventSelected(ev)">{{ev.name}}
                </button>
                <button type="button" class="btn" [class.btn-primary]="myIsNew()"
                        [class.btn-default]="!myIsNew()"
                        routerLink="/events/new">Create Event
                </button>
            </div>
        </div>

        <div class="col-sm-9 col-md-10">
            <event-detail [currentEvent]="selectedEvent" (saved)="eventSaved($event)"></event-detail>
        </div>
    </div>
</div>

