<form *ngIf="active" (ngSubmit)="saveEvent()" #eventForm="ngForm" class="form-horizontal">
    <div class="form-group">
        <label for="event-name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="currentEvent.name" class="form-control" id="event-name" name="event-name"
                   placeholder="event name" #eventName="ngModel" #spy required>
            <div [hidden]="eventName.valid || eventName.pristine"
                 class="alert alert-danger">
                Name is required
            </div>
            <br>Class = {{spy.className}}
        </div>

    </div>
    <div class="form-group" *ngIf="!newEvent()">
        <label class="col-sm-2 control-label">Athletes:</label>
        <div class="col-sm-10">
            <div *ngFor="let athlete of currentEvent.athletes">
                <input  [(ngModel)]="athlete.name" [ngModelOptions]="{standalone: true}" class="form-control" required>
            </div>
            <div class="input-group">
                <input [(ngModel)]="newAthleteName" class="form-control" name="new-athlete-name" placeholder="athelete name">
                <span class="input-group-btn">
                    <button (click)="addAthlete()" class="btn btn-info">Add</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!eventForm.form.valid">Save</button>
        </div>
    </div>
</form>